<ion-grid class="ion-padding-top">
  <ion-row class="ion-padding ion-align-items-center">
    <ion-col size="12" class="ion-align-self-center">
      <ion-text>What code do you want to change?</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding ion-align-items-center">
    <ion-col size="12" class="ion-align-self-center">
      <ion-button
        expand="block"
        color="primary"
        size="large"
        (click)="changeGuestCode()">
        Guest code
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding ion-align-items-center">
    <ion-col size="12" class="ion-align-self-center">
      <ion-button
        expand="block"
        color="primary"
        size="large"
        (click)="changeAdminCode()">
        Admin code
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding ion-align-items-center">
    <ion-col size="12" class="ion-align-self-center">
      <ion-button
        expand="block"
        color="primary"
        size="large"
        (click)="changeOwnerCode()">
        Owner code
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
